body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    font-display:initial;
    color: #ed8585;
}
a{
    border: #3d1ce1;
    border-radius: 20px;
    color: #ccc;
    background-color: #333;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3d1ce1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1838ee;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
